.mkMask{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    align-items: center;
    .mkContent{
        margin: 0 auto;
        max-width: 680px;
    }
    .mkRound{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        animation: mkRotate 5s linear infinite;
        background: linear-gradient(90deg, red, orange, yellow, green,  blue, white);
    }
}

/*flash*/
